<h1>Start a new Meetup</h1>

<form action="/meetup/create" method="POST">
  <!-- <div data-abide-error class="alert callout" style="display: none;">
    <p><i class="fi-alert"></i> There are errors on the form!</p>
  </div> -->
  <div class="row">
    <div class="small-12 columns">
      <label>Name
        <input type="text" name="name" value="<%= session[:name] %>" aria-describedby="exampleHelpText" required>
        <span class="form-error">
          Name is required!
        </span>
      </label>
    </div>
    <div class="small-12 columns">
      <label>Location
        <input type="text" name="location" value="<%= session[:location] %>" aria-describedby="exampleHelpText" required >
        <span class="form-error">
          Location is required!
        </span>
      </label>
    </div>
    <div class="small-3 columns">
      <p id="date-time-form">
        <label>Starts at?
          <input type="date" class="date start" value="<%= session[:start_date] %>" min="<%= @start_min_date %>" name="start_date" placeholder="Start Date" required/>
          <span class="form-error">
            Start Date required!
          </span>
        </label>
        <label>
          <input type="time" class="time start" value="<%= session[:start_time] %>" name="start_time" placeholder="Start Time" required/>
          <span class="form-error">
            Start Time required!
          </span>
        </label>
        <label>Ends at?
          <input type="date" class="date end" value="<%= session[:end_date] %>" min="<%= @start_min_date %>" name="end_date" placeholder="End Date" required/>
          <span class="form-error">
            End Date required!
          </span>
        </label>
        <input type="time" class="time end" value="<%= session[:end_time] %>" name="end_time" placeholder="End Time" required/>
        <span class="form-error">
          End Time required!
        </span>
      </p>
    </div>
  <div class="row">
    <div class="small-8 columns">
      <label>Description
        <textarea id="meetupDesc" name="description" maxlength="400" rows="7" required><%= session[:description] %></textarea>
        <p id="charNum"></p>
        <span class="form-error">
          Description is required!
        </span>
      </label>
    </div>
    <fieldset class="small-2 small-offset-2 columns">
      <button class="button" type="submit" value="Submit">Submit</button>
    </fieldset>
    <fieldset class="small-1 columns end">
      <button class="button" type="reset" value="Reset">Reset</button>
    </fieldset>
  </div>
</form>
